<div class="container">
    <h4>View</h4>
    <div class="card">
        <div class="card-body">
            <!-- <div [innerHTML]="con1.content"></div> -->
            <article [innerHTML]="con1.value"></article>
        </div>
        <div class="card-body" *ngIf="con1.favourites === false">
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#MyModal1" (click)="change()">Add To Favourites</button>
        </div>
        <div class="card-body" *ngIf="con1.favourites === true">
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#MyModal2" (click)="change1()">Remove From Favourites</button>
        </div>
    </div>
</div>

<div id="MyModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">Added to favourites</div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-lg" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="MyModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">Removed from favourites</div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-lg" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>