<body>
    <div class="card">
        <div class="card-body">
            <quill-editor [(ngModel)]="content.value"></quill-editor>
        </div>
        <div class="card-body">
            <input [(ngModel)]="content.metaTags" #Tag type="text" placeholder="Please provide some tags" required>
        </div>
        <div class="card-body">
            <button class="btn btn-primary btn-lg" (click)='update(content.id, content.value, Tag.value)' routerLink='/re2'>Save</button>
        </div>
    </div>
</body>