.btn-primary {
    background-color: #6d7fcc;
}

.btn-lg {
    background-color: #6d7fcc;
}


/* .result-card {
    width: 400px;
}

.card-deck-container {
    width: 50%;
    max-width: 1200px;
    position: relative;
    border-radius: 2px;
    padding: 10px 10px 30px;
    margin: 10px 10px 10px 10px;
    background-color: #f5f5f5;
}

.card-item {
    padding: 3px 3px 3px 3px;
}

md-card {
    max-width: 150px;
    margin: 4px;
}

#card-container {
    display: flex;
    flex-flow: row wrap;
} */


/* .container {
    background-color: #f2f2f2;
    padding: 10px;
    border: 2px solid #CCCCCC;
    max-width: 900px;
    margin: 0 auto;
    height: 470px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.item {
    background-color: orange;
    height: 150px;
    width: 31%;
    margin: 1%;
    padding: 10px;
}

md-grid-list {
    max-width: 1403px;
    margin: 60px;
} */

.gridListdemoBasicUsage md-grid-list {
    margin: 8px;
}

.gridListdemoBasicUsage .gray {
    background: #f5f5f5;
}

.gridListdemoBasicUsage md-grid-tile {
    transition: all 400ms ease-out 50ms;
}